.main {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./image/bg2.jpg");
}

.cloudMain {
  animation: show 0.25s;
  transition: all 0.25s;
}

.profilePreview {
  animation: show 0.25s;
  transition: all 0.25s;
}

.tooltip {
  animation: show 0.25s;
  transition: all 0.25s;
}

.detailChat {
  animation: show 0.25s;
  transition: all 0.25s;
}
